@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
  }

  li {
    @apply cursor-pointer;
    /* @apply duration-75 ease-in hover:scale-110 hover:text-[#7c7cb3] hover:font-bold; */
  }

  body::-webkit-scrollbar-horizontal {
    display: none;
  }

  span {
    display: inline-block;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#9191b3]; /* Colore della barra di scorrimento */
    @apply rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300; /* Colore dello sfondo della barra di scorrimento */
  }
}

.active{
  @apply  font-bold border-b-4 border-[#7c7cb3] duration-300 ease-in-out;
}

